{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<table>
    <tr>
        <td> 
            hình ảnh 
        </td>
        <td>
            hình ảnh
        </td>
        <td>
            hình ảnh
        </td>
    </tr>
    <tr>
        <td>
            hình ảnh 
        </td>
        <td>
            hình ảnh
        </td>
        <td>
            hình ảnh
        </td>
    </tr>
    <tr>
        <td>
            hình ảnh 
        </td>
        <td>
            hình ảnh
        </td>
        <td>
            hình ảnh
        </td>
    </tr>
</table>

{% endblock %}