{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
<div>
    <center>
        <img src="../static/nitro5.png"></img>
        <img src="../static/msi_katana_gf66.jpg"></img>
    </center>

    <center>
        <img src="../static/nitro5.png"></img>
        <img src="..
        /pythonwebsite/static/rog_strix.png"></img>
    </center>


{% endblock %}